* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #bfb8b9;
    color: black;
}

@keyframes example {
    0% {
        background-color: blue;
        left: 0;
        top: 0;
    }
    25% {
        background-color: red;
        left: 200px;
        top: 0;
    }
    50% {
        background-color: yellow;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0;
        top: 200px;
    }
    100% {
        background-color: blue;
        left: 0;
        top: 0;
    }
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    background-color: darkgray;
    z-index: 100;
    animation-name: example;
    animation-duration: 10s;
    animation-delay: -1s;
    animation-iteration-count: 100;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 2vh;
}

.header-items i {
    color: white;
    font-size: x-large;
}

.header-items .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.header-items .links li {
    list-style: none;
    margin: 0 5%;
}

.header-items .links li a {
    color: lightgray;
    font-size: 1.2em;
    transition: color 0.5s;
    text-transform: capitalize;
    text-align: center;
    display: flex;
}

.header-items .links li a:hover:not(a.active) {
    color: white;
}

header .active {
    font-weight: 700;
    color: white !important;
    text-decoration: underline;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 0 0;

}

main .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .middle .title {
    margin-bottom: 5%;
    text-shadow: gray 2px 2px;
}

main .middle .title h1, p, h2 {
    text-align: center;
    margin: 5px;
}

main .middle .title h1 {
    font-size: 5em;
}

main .middle .title p {
    font-size: 3rem;
}

main .middle form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .middle form .row {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .middle form .row input {
    width: 100%;
    background-color: lightgray;
    border: 1px solid #5f6368;
    height: 44px;
    border-radius: 24px;
    font-size: 1em;
    color: black;
    transition: border 0.3s;
    text-indent: 5%;
}

main .middle form .row input:hover {
    border: 1px solid white;
}

main .middle form .row input:focus::placeholder {
    color: transparent;
}

main .middle form .row button {
    width: 8%;
    display: flex;
    height: 44px;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    border-radius: 40px;
}

main .middle form .row button:hover {
    opacity: 1
}

main .middle form .row i {
    font-size: 2rem;
    color: white;
}

main .middle form .buttons {
    display: flex;
    justify-content: center;
    flex: 2;
    opacity: 0.6;
    cursor: not-allowed;
}
main .middle form .buttons2 {
    display: flex;
    justify-content: center;
    flex: 2;
    opacity: 0.6;
    cursor: not-allowed;
}

main .middle form .buttons input {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 24px;
    padding: 0 2em;
    height: 44px;
    cursor: pointer;
    color: white;
    margin: 0 5% 5% 5%;
    font-size: 0.9em;
    transition: all 0.3s;
}
main .middle form .buttons2 input {
    background-color: blue;
    border: 1px solid lightgray;
    border-radius: 24px;
    padding: 0 2em;
    height: 44px;
    cursor: pointer;
    color: white;
    margin: 0 5% 5% 5%;
    font-size: 0.9em;
    transition: all 0.3s;
}

main .middle form .buttons input:hover {
    background-color: gray;
}
main .middle form .buttons2 input:hover {
    background-color: darkblue;
}

main .middle form .row p {
    margin-right: 3%;
    text-align: right;
}

main .middle form .row.with-text {
    justify-content: flex-end;
}

main .middle form .row.with-text input {
    max-width: 300px;
}

main .middle .subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #171717;
    width: 100%;

}

footer .locate {
    padding: 20px 10px;
    margin: 0 1rem;
    color: white;
    border-bottom: lightgrey 1px solid;
}

footer .footer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

footer .links {
    display: flex;
    padding-bottom: 1rem;
    margin-top: 1rem;

}

footer .links a {
    color: darkgrey;
    margin: 0.5rem 1rem;

}

footer .links a:hover {
    color: white;
    transition: 0.5s;
}

footer .links .center {
    margin: 0;
    padding: 0;
}

footer .center {
    margin: 0;
}

footer .center a {
    color: darkgrey;
}

footer .center a:hover {
    color: white;
    transition: 0.5s;
}

/* Media */

@media screen and (max-width: 768px) {
    main {
        padding: 10vh 0 0 0;
    }

    header .header-items {
        flex-direction: column;
        padding: 3vh 2vh;
    }

    main .middle .title h1 {
        font-size: 3.5em;
    }

    main .middle .title p {
        font-size: 1.6em;
    }

    main .middle .subtitle {
        justify-content: center;
    }

    main .middle form .row input,
    main .middle form .row p {
        font-size: 0.8em;
    }

    main .middle form .row {
        flex-direction: column;
    }

    main .middle form .row p {
        margin: 0 0 5% 0;
    }

    main .middle form .row button {
        display: none;
    }
}

.dark-mode {
    background-color: #151515;
    color: white;
}
